html, body, #cesiumContainer {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#obsChart {
	float: left;
}

#obsChart {
	float: right;
}

#searchcontainer {
	position: relative;
}

#searchresultscontainer {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-top: none;
	z-index: 99;
	top: 100%;
	left: 0;
	right: 0;
	background-color: #ffffff;
}